.DS_Store
*.log
.nvimlog
.secrets
Brewfile.lock.json

**/.claude/settings.local.json
**/home/.claude/projects
**/home/.claude/statsig
**/home/.claude/todos

# Work stuff
config/k9s/clusters/*
config/zsh/work/*
!config/zsh/work/.gitkeep
