# ShellCheck Configuration

# https://www.shellcheck.net/wiki/
# https://man.archlinux.org/man/shellcheck.1.en
# https://www.shellcheck.net/

# Allow ShellCheck to follow 'source' statements to external files
external-sources=true

# Disable specific warnings
disable=SC1091,SC1090,SC2059,SC2119,SC2155

# Override the detected shell for files without a shebang
shell=bash
