# see: https://docs.npmjs.com/cli/v10/using-npm/config#npmrc-files
# see: https://docs.npmjs.com/cli/v10/configuring-npm/npmrc

fund = false

# Private work packages
@recursionpharma:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}