<!-- set HOSTNAME for kitty startup config swapping -->
<!-- see: https://derivative.ca/UserGuide/MacOS_Environment_Variables -->
<!-- see: https://github.com/kovidgoyal/kitty/issues/811#issuecomment-414186903 -->
<!-- see: https://github.com/kovidgoyal/kitty/issues/811#issuecomment-434876639 -->
<!-- see: https://sw.kovidgoyal.net/kitty/conf/#opt-kitty.startup_session -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <!--to set value: launchctl setenv TOUCH_ENV_VAR value-->
  <!--to unset value: launchctl unsetenv TOUCH_ENV_VAR-->
  <key>Label</key>
  <string>ca.derivative.environment</string>
  <key>ProgramArguments</key>
  <array>
    <string>sh</string>
    <string>-c</string>
    <string>
launchctl setenv HOSTNAME $(hostname);
    </string>
  </array>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
